<style>
  .my-main-info {
    /* height: 40vh; */
    display: flex;
    align-items: center;
    justify-content: center;
   box-shadow:0 -2px 1px -2px black;
  }
  .my-info {
    /* height: 98%; */
    width: 45%;
    text-align: center;
    /* padding-top: 0.8rem; */
  }
  @media only screen and (max-width: 576px) {
    .my-info {
      width: 96% !important;
    }
  }
  @media only screen and (max-width: 768px) {
    .my-info {
      width: 70%;
    }
  }
  @media only screen and (max-width: 992px) {
    .my-info {
      width: 70%;
    }
  }
</style>
<footer>
  <div class=" my-main-info mt-3">
    <div class="my-info">
      <p class="fs-1 text-success"><i class="fa-solid fa-circle-user"></i></p>
      <p class="fs-5 fw-medium">Developed By Archita Rai</p>
      <p class="fs-5 fw-medium">Email: raiarchita98@gmail.com</p>
      <p class="fw-medium">Developed with dedication and creativity by Archita Rai — where code meets craft and every pixel is placed with purpose. This project reflects a passion for clean design, thoughtful development, and continuous learning.</p>
    </div>
  </div>
  <div class="about-box mt-3">
    <div class="about-option">
      <div class="support-link links">
        <h5>Support</h5>
        <hr />
        <a href="#">Help Centre</a><br />
        <a href="#">AirCover</a><br />
        <a href="#">Anti-discrimination</a><br />
        <a href="#">Disability support</a><br />
        <a href="#">Concern</a><br />
        <a href="#">Cancellation option</a><br />
        <a href="#">Report neighbourhood</a>
      </div>
      <div class="support-link links">
        <h5>Hosting</h5>
        <hr />
        <a href="#">Wanderlust your home</a><br />
        <a href="#">AirCover for Hosts</a><br />
        <a href="#">Hosting resources</a><br />
        <a href="#">Community forum</a><br />
        <a href="#">Hosting responsibly</a>
      </div>
      <div class="support-link links">
        <h5>Wanderlust</h5>
        <hr />
        <a href="#">Newsroom</a><br />
        <a href="#">New features</a><br />
        <a href="#">Careers</a><br />
        <a href="#">Investors</a><br />
        <a href="#">Wanderlust.org emergency</a>
      </div>
    </div>
    <div class="arrow-btn-div">
      <button class="btn btn-up" onclick="scrollToTop()">
        <i class="fa-solid fa-arrow-up"></i>
      </button>
    </div>
  </div>
  <div class="wanderlust-info">
    <div class="wanderlust-sign">
      <a class="navbar-brand" href="/listings"
        ><i class="fa-regular fa-compass wanderlust-icon"></i
      ></a>
      Wanderlust
      <p class="wanterlust-sign-info">
        Holidays rentals homes, villa, cabins, beach house and more
      </p>
    </div>
  </div>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
